REMOVE_BG_API_KEY=your_remove_bg_api_key_here
GOOGLE_CLIENT_ID=your_google_oauth_client_id_here
GOOGLE_CLIENT_SECRET=your_google_oauth_client_secret_here
PAYPAL_CLIENT_ID=your_paypal_client_id_here
PAYPAL_CLIENT_SECRET=your_paypal_client_secret_here
PAYPAL_ENV=sandbox
PAYPAL_WEBHOOK_ID=your_paypal_webhook_id_here
CREEM_API_KEY=your_creem_api_key_here
CREEM_ENV=test
CREEM_STARTER_PRODUCT_ID=your_creem_starter_product_id_here
CREEM_PRO_PRODUCT_ID=your_creem_pro_product_id_here
CREEM_WEBHOOK_SECRET=your_creem_webhook_secret_here
APP_ORIGIN=https://png.my99ai.com
